<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.7b" compilationDate="01022025184251" sdkApiVersion="88" originalPluginFileName="Nova ficha.rpk" compilationDigest="30d2cc3231406a15fdf2d6e1cedf8094d2c39536" sdkMinorApiVersion="2" compilationUniqueID="679e6b2bce63e58f00066541">
    <!--The "id" identifies your plugin globally. Must be unique, must contain only alphanumeric characters, underlines and dots and must contain at least 5 characters and a maximum of 40. Once set the ID, you should not change it;)-->
    <id>Ficha_de_ALV_1e</id>
    <!--"version" is the version of your plugin. When you release a new version of your module, change here =)-->
    <version>2.1.0</version>
    
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>ALV 1e</name>
        <description>Ficha com cálculos automáticos para ALV 1e.</description>
        <author>Bruce</author>
        <site>.</site>
        <contact>.</contact>
    </info>
    
    
    
    
    
    
    
    <dataTypes>
        <dataType title="ALV 1e" name="frmOurFichaALV1e" lfmFile="fichaIGuess.lfm">ALV_1e</dataType>
    </dataTypes>
    <assembledFeatures>
        <dataTypes>
            <dataType id="ALV_1e" formType="sheetTemplate" lfmFile="fichaIGuess.lfm" formName="frmOurFichaALV1e">
                <info title="ALV 1e"/>
            </dataType>
        </dataTypes>
    </assembledFeatures>
    <name>ALV 1e</name>
    <description>Ficha com cálculos automáticos para ALV 1e.</description>
    <author>Bruce</author>
    <site>.</site>
    <contact>.</contact>
</module>
