<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5" compilationDate="06122024013019" sdkApiVersion="88" originalPluginFileName="Alem_do_véu.rpk" compilationDigest="7f12829cafba536d5629000a8d65552223309725" sdkMinorApiVersion="2" compilationUniqueID="675253ab8abe86f500c06011">
    <!--The "id" identifies your plugin globally. Must be unique, must contain only alphanumeric characters, underlines and dots and must contain at least 5 characters and a maximum of 40. Once set the ID, you should not change it;)-->
    <id>Alem_do_veu_v.1.0</id>
    <!--"version" is the version of your plugin. When you release a new version of your module, change here =)-->
    <version>1.0.0</version>
    
    
    
    
    
    
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>Alem do Veu(Hipérion)</name>
        <description>Ficha para a mesa alem do veuRPG</description>
        <author>Cezar_a</author>
        <site>https://github.com/rrpgfirecast/firecast/tree/master/Plugins/Sheets/Ficha L5R 4e</site>
        <contact>Username: cezar_a</contact>
    </info>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <assembledFeatures>
        <dataTypes>
            <dataType id="Alem_do_veu_Hiperion" formType="sheetTemplate" lfmFile="fichaIGuess.lfm" formName="frmOurFichaAlemDoVeuHiperion">
                <info title="Alem_do_veu(Hiperion))"/>
            </dataType>
        </dataTypes>
    </assembledFeatures>
    <name>Alem do Veu(Hipérion)</name>
    <description>Ficha para a mesa alem do veuRPG</description>
    <author>Cezar_a</author>
    <site>https://github.com/rrpgfirecast/firecast/tree/master/Plugins/Sheets/Ficha L5R 4e</site>
    <contact>Username: cezar_a</contact>
</module>
